<!DOCTYPE html>
<html>
<head>
      <title>Edit Review</title>
</head>
<body>
  <form action="/review/<%= @review.id %>" method="post" >
  	<input id="hidden" type="hidden" name="_method" value="patch"/>

  	<label for="content">Current review:</label>
  </br>
    <%= @review.title %>
    <input type="text" name="title" placeholder="<%= @review.title %>" style="height: 300px; width: 300px;">
  </br>
    <%= @review.rating %>
    <input type="text" name="rating" placeholder="<%= @review.rating %>" style="height: 300px; width: 300px;">
  </br>
    <%= @review.content %>
  	<input type="text" name="content" placeholder="<%= @review.content %>" style="height: 300px; width: 300px;">
  </br>
  	<input type="submit" value="submit" id='submit'>

  </form>
</body>
</html>
