<!DOCTYPE html>
<html>
<head>
      <title>Your new review!</title>
      <h1>Here is your review!</h1>
      <p>If you need to change anything, just press edit or delete down below! </p>
</head>
<body>
  <ul>
    <% @review.each do |r| %>
      <li>
        <%= r.title %>
        <%= r.brand %>
        <%= r.type %>
        <%= r.rating %>
        <%= r.content %>
      </li>
    <% end %>
    <a href ="/review/index">Everything looks good!</a>
  </br>
  <form action="/review/<%= @review.id %>/edit" method=get>
    <input type="submit" value="Edit Review"/>
  </form></br>
  </br>
  <form action="/review/<%= @review.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Review" />
  </form>
  </ul>
</body>
</html>
