<!DOCTYPE html>
<html>
<head>
      <title>Your new review!</title>
      <h1>Here is your review!</h1>
      <p>If you need to change anything, just press edit or delete down below! </p>
</head>
<body>
  <ul>
    <%= @review.title %>
  </br>
    <%= @review.rating %> Stars
  </br>
    <%= @review.content %>
  </br>

  <form action="/review/index" method=get>
    <input type="submit" value="Looks Good!"/>
  </form></br>
  </br>
  <form action="/review/<%= @review.id %>/edit" method=get>
    <input type="submit" value="Edit Review"/>
  </form></br>
  </br>
  <form action="/review/<%= @review.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete Review" />
  </form>
  </ul>
</body>
</html>
